# global
slackclient # for slack obviously
gunicorn # wsgi server
raven[flask] # sentry error reporting
backoff # retryable functions
cryptography # for auth tokens
boto3 # aws s3 client
arrow # dates and time

# testing
pytest

# web related
Flask

# worker related
dramatiq[rabbitmq, watch]

# db related
SQLAlchemy
alembic
psycopg2

# distributed locks
kazoo

# falcon api related
falcon
ujson

# at graph related
pygraphviz
palettable
