{% extends 'parents/base.jinja2' %}
{% block content %}
    <div class="announce">
        <h1>I logged you in!</h1>
        <figure><img style="max-height: 200px" src="/static/images/appear.png"/></figure>
        <p>
            <a href="/" class="pure-button pure-button-primary">
                go do some stuff
            </a>
        </p>
    </div>
{% endblock %}
