{% extends "parents/base.jinja2" %}
{% block content %}
    <div class="announce">
        <h1>Hi!</h1>
        <figure><img style="max-height: 200px" src="/static/images/kizuna_scaled.png" /></figure>
        <h2>Reaction Image Database</h2>
        <p>I'm trying to build a reaction image database. Will you help me?</p>
        <p>
            <a href="/react" class="pure-button">
                View Gallery
            </a>
            <a href="/react/images/new" class="pure-button">
                Upload Images
            </a>
        </p>
    </div>
{% endblock %}